{{#if home}}
  <header class="header-style-six">

    <div id="sticky-header" class="main-header menu-area transparent-header">
      <div class="container custom-container-two">
        <div class="row">
          <div class="col-12">
            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
            <div class="menu-wrap">
              <nav class="menu-nav show">
                <div class="logo">
                  <a href="/">
                  <img src="/img/logo/logo-cropped-1.png" alt="Muebles" style="width:147px; height:34px;"/></a>
                </div>
                <div class="navbar-wrap main-menu d-none d-lg-flex">
                  <ul class="navigation">
                    <li class="menu-item-has-children has--mega--menu"><a href="/">Home</a>                   
                    </li>
                    <li class="has--mega--menu"><a href="/all-products">Shop</a>
                                   
                    <li><a href="/aboutUs">About Us</a></li>
                    
                    <li><a href="/contactUs">Contact Us</a></li>
                  </ul>
                </div>
                <div class="header-action">
                  <ul>
                    <li class="header-shop-cart header-profile d-md-none">
                      <a href="/user-profile" class="p-0"></a>
                      <div class="btn-group">
                        <a type="button" class="bg-transparent text-black border-0 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="">
                          <span class="sr-only">Toggle Dropdown</span><i class="flaticon-user-profile"></i>
                        </a>
                        <div class="dropdown-menu  border-0">
                          {{#if user}}
                          <a class="dropdown-item" href="/user-profile">{{user.name}}</a>
                          <a class="dropdown-item" href="/user_logout">Log Out</a>
                          {{else}}
                           <a class="dropdown-item" href="/user_signup">Sign Up</a>
                          <a class="dropdown-item" href="/signin">Log In</a>
                          {{/if}}                         
                        </div>
                      </div>
                    </li>

                    <li class="header-shop-cart header-profile d-none d-md-block"><a href="/user-profile" class="p-0">
                        <i class="flaticon-user-profile"></i></a>
                      <ul class="minicart">

                        <li>
                          <div class="checkout-link ">
                            {{#if user}}
                              <a href="/user-profile">{{user.name}}</a>
                              <a class="black-color" href="/user_logout">LogOut</a>
                            {{else}}
                              <a href="/user_signup">Create account</a>
                              <a class="black-color" href="/signin">LogIn</a>
                            {{/if}}

                          </div>
                          
                        </li>
                      </ul>
                    </li>

                    <li class="header-wishlist d-none d-md-block"><a href="/wishlist">
                    <i class="flaticon-heart-shape-outline"></i></a></li>
                    <li class="header-shop-cart">
                      <a href="/cart"><i class="flaticon-shopping-bag"></i>
                          {{#if user}}
                        <span>{{cartCount}}</span></a>
                          
                      
                      {{/if}}
                    </li>
                    <li class="sidebar-toggle-btn"><a href="" class="navSidebar-button">
                      <i class="flaticon-menu-button-of-three-horizontal-lines"></i></a></li>
                  </ul>

                </div>
              </nav>
            </div>
            <!-- Mobile Menu  -->
            <div class="mobile-menu">
              <div class="close-btn"><i class="flaticon-targeting-cross"></i></div>
             
              <nav class="menu-box">
                <div class="nav-logo"><a href="/">
                  <img src="/img/logo/logo-cropped-1.png" alt="" title=""/></a>
                </div>               
                <div class="menu-outer">
                  <ul class="navigation">
                    
                    <li class="has--mega--menu"><a href="/">Home</a>
                     <li class="menu-item-has-children"><a href="/user-profile">Profile</a>
                           <ul class="submenu">
                                  <li><a href="/user-profile">Dashboard</a></li>
                                    <li><a href="/orders">Orders</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>
                                   
                              </ul>
                       </li>

                    </li>
                    <li class="has--mega--menu"><a
                        href="/all-products">Shop</a>
                    </li>
                    <li><a href="/aboutUs">About Us</a></li>
                   
                    <li><a href="/contactUs">Contact Us</a></li>
                  </ul>
                </div>
                <div class="social-links">
                  <ul class="clearfix">
                    <li><a href=""><span class="fab fa-twitter"></span></a></li>
                    <li><a href=""><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href=""><span class="fab fa-pinterest-p" ></span></a></li>
                    <li><a href=""><span class="fab fa-instagram"></span></a></li>
                    <li><a href=""><span class="fab fa-youtube"></span></a></li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="menu-backdrop"></div>
            <!-- End Mobile Menu -->
          </div>
        </div>
      </div>
    </div>

   

    <!-- off-canvas-start -->
    <div class="sidebar-off-canvas info-group">
      <div class="off-canvas-overlay"></div>
      <div class="off-canvas-widget scroll">
        <div class="sidebar-widget-container">
          <div class="off-canvas-heading">
            <a href="" class="close-side-widget">
              <span class="flaticon-targeting-cross"></span>
            </a>
          </div>
          <div class="sidebar-textwidget">
            <div class="sidebar-info-contents">
              <div class="content-inner">
                <div class="logo mb-30">
                  <a href="/"><img src="/img/logo/logo-crp-2.png" alt="" /></a>
                </div>
                <div class="content-box">
                  <p>Purchase best and quality furniture ,And make your home beautiful ...</p>
                </div>
                <div class="contact-info">
                  <h4 class="title">CONTACT US</h4>
                  <ul>
                    <li><span class="flaticon-phone-call"></span><a
                        href="tel:+917736892213">+91 443219990</a></li>
                    <li><span class="flaticon-email"></span><a
                        href="mailto:muebles@info.com">muebles@info.com</a></li>
                    <li><span class="flaticon-place"></span>71 Park Lan Street2355 NY</li>
                  </ul>
                </div>
                <div class="oc-newsletter">
                  <h4 class="title">NEWSLETTER</h4>
                  <p>Fill your email below to subscribe to my newsletter</p>
                  <form action="" style="width: 100%;">
                    <input type="email" placeholder="Email..." />
                   <button type="submit" class="buttn mt-3">SUBSCRIBE</button>
                  </form>
                </div>
                <div class="oc-social">
                  <ul>
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fab fa-youtube"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href=""><i class="fab fa-google"></i></a></li>
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- off-canvas-end -->

  </header>
  <!--Home header-area-end -->

{{else}}

  <!-- header-area -->
  <header class="header-style-three">
    <div id="sticky-header" class="main-header menu-area">
      <div class="container custom-container-two">
        <div class="row">
          <div class="col-12">
            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
            <div class="menu-wrap">
              <nav class="menu-nav show">
                <div class="logo">
                  <a href="/"><img src="/img/logo/logo-cropped-1.png"
                      alt="Logo" style="width:147px ; height:34px ;"/></a>
                </div>
                <div class="navbar-wrap main-menu d-none d-lg-flex">
                  <ul class="navigation">
                     
                    <li class=" has--mega--menu"><a href="/">Home</a> </li>
                    <li class="has--mega--menu"><a href="/all-products">Shop</a>
                     
                    <li><a href="/aboutUs">About Us</a></li>
                    
                    <li><a href="/contactUs">Contact Us</a></li>
                  </ul> 
                </div>
                <div class="header-action ">
                  <ul>
                   
                     <li class="header-shop-cart header-profile d-none d-md-block">
                      <a href="/user-profile" class="p-0">
                     <i class="flaticon-user-profile"></i></a>
                      <ul class="minicart">

                        <li>
                          <div class="checkout-link">
                            {{#if user}}
                              <a href="/user-profile">{{user.name}}</a>
                              <a class="black-color"href="/logout">LogOut</a>
                            {{else}}
                              <a href="/user_signup">Create account</a>
                              <a class="black-color"href="/signin">LogIn</a>
                            {{/if}}
                          </div>
                        </li>
                      </ul>
                    </li>
   
                    <li class="header-wishlist"><a href="/wishlist"><i
                          class="flaticon-heart-shape-outline"></i></a></li>
                    <li class="header-shop-cart"><a href="/cart"><i
                          class="flaticon-shopping-bag"></i>
                          {{#if user}}
                        <span id="cart-count">{{cartCount}}</span></a>
                      {{/if}}
                    </li>
                     
                    <li class="sidebar-toggle-btn"> 
                      <a href="" class="navSidebar-button">
                        <i class="flaticon-menu-button-of-three-horizontal-lines"></i></a></li>
                  </ul>
                </div>
              </nav>
            </div>
            <!-- Mobile Menu  -->
            <div class="mobile-menu">
              <div class="close-btn"><i class="flaticon-targeting-cross" ></i></div>
              <nav class="menu-box">
                <div class="nav-logo"><a href="/"><img
                      src="/img/logo/logo-cropped-1.png" alt="" title="" /></a>
                </div>
                <div class="menu-outer">
                  <ul class="navigation">
                    <li class="menu-item-has-children"><a href="/">Home</a>
                     <li class="menu-item-has-children"><a href="/user-profile">Profile</a>
                           <ul class="submenu">
                                  <li><a href="/user-profile">Dashboard</a></li>
                                    <li><a href="/orders">Orders</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>
                                   
                              </ul>
                       </li>
                     
                    </li>
                    <li class="active menu-item-has-children"><a
                        href="/all-products">Shop</a>
                    
                    <li><a href="/aboutUs">About Us</a></li>
                    <li><a href="/contactUs">Contact Us</a></li>
                  </ul> 
                </div>
                <div class="social-links">
                  <ul class="clearfix">
                    <li><a href=""><span class="fab fa-twitter"></span></a></li>
                    <li><a href=""><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href=""><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href=""><span class="fab fa-instagram"></span></a></li>
                    <li><a href=""><span class="fab fa-youtube"></span></a></li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="menu-backdrop"></div>
            <!-- End Mobile Menu -->
          </div>
        </div>
      </div>
    </div>

  

    <!-- off-canvas-start -->
    <div class="sidebar-off-canvas info-group">
      <div class="off-canvas-overlay"></div>
      <div class="off-canvas-widget scroll">
        <div class="sidebar-widget-container">
          <div class="off-canvas-heading">
            <a href="#" class="close-side-widget">
              <span class="flaticon-targeting-cross"></span>
            </a>
          </div>
          <div class="sidebar-textwidget">
            <div class="sidebar-info-contents">
              <div class="content-inner">
                <div class="logo mb-30">
                  <a href=""><img src="/img/logo/logo-crp-2.png" alt="" /></a>
                </div>
                <div class="content-box">
                  <p>Purchase best and quality furniture ,And make your home beautiful...</p>
                </div>
                <div class="contact-info">
                  <h4 class="title">CONTACT US</h4>
                  <ul>
                    <li><span class="flaticon-phone-call"></span><a
                        href="tel:123456789"
                      >+9 325 444 0000</a></li>
                    <li><span class="flaticon-email"></span><a
                        href="abhijithas108@gmail.com"
                      >muebles@info.com</a></li>
                    <li><span class="flaticon-place"></span>71 Park Lan Street
                      2355 NY</li>
                  </ul>
                </div>
                <div class="oc-newsletter">
                  <h4 class="title">NEWSLETTER</h4>
                  <p>Fill your email below to subscribe to our newsletter</p>
                  <form action="">
                    <input type="email" placeholder="Email..." />
                    <button type="submit" class="buttn mt-3">SUBSCRIBE</button>
                  </form>
                </div>
                <div class="oc-social">
                  <ul>
                    <li><a class="no-click" href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="no-click" href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a class="no-click" href=""><i class="fab fa-youtube"></i></a></li>
                    <li><a class="no-click" href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a class="no-click" href=""><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a class="no-click" href=""><i class="fab fa-google"></i></a></li>
                  </ul>
                </div>
                <div class="oc-bottom">
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- off-canvas-end -->

  </header>
  <!-- header-area-end -->
{{/if}}